<div class="container">
    <div class="header clearfix">
    </div>
    <div class="jumbotron">
      <div class="starter-template">
        <h2 class="text-muted">Contactos</h2>
        <div>
<table class="table">
<thead>
  <th class="h3">Nombre</th>
  <th class="h3">Cargo</th>
</thead> 
<tbody>
  <tr class="text" *ngFor="let contact of contacts | async">
    <td class="lead">{{contact.nombre}}</td>
     <td class="lead">{{contact.empresa.cargo}}</td>
     <td>
    <button class="btn btn-primary" (click)="mostrarInformacion(contact.$key, 'mostrar')">Más Información</button>
    </td>
  </tr>
</tbody>
</table>
<div *ngIf="estado=='mostrar'">
  mostar informacion
</div>
</div>
</div>
</div>
</div>


